.table{
    background-color:chartreuse;
    border-radius: 10px;
    backdrop-filter: blur 14px;
    height: 280px;
    width: 580px;
    opacity: 0.6;
    border: 20px;
    border-color: brown;
    color: black;
}

.card1{
    display:flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    background-color: azure;
    width: 160px;
}

.card2{
    display:flex;
    justify-content: center;
    align-content: right;
    height: 40px;
    background-color: azure;
    width: 160px;
}

.buttons{
    display: flex;
   
}